@import "tailwindcss";

@plugin "daisyui" {
  themes: retro --default;
}
html {
  overflow-y: scroll;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-base-100) inset !important;
  -webkit-text-fill-color: var(--color-base-content) !important;
  caret-color: var(--color-base-content);
}
